header
  nav
    ul
      li: a(href="/", data-pjax) basic
      li: a(href='/about/', data-pjax) RTTBasic
      li: a(href='/rtt2/', data-pjax) RTTForVTF
      li: a(href='/vtr/', data-pjax) TestVTF
      li: a(href='/human/', data-pjax) TestModel