@import "./_normalize"
@import "./_reset"
@import "./_setting"
@import "./_animate"
@import "./_util"
@import 'jeet'
@import './_fullpage.min'

$borderWidth = 15px
$borderColor = #2c3e50

$loadingZIndex = 101

body 
  box-sizing: border-box
//////////////////////////////
// header
//////////////////////////////
header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 70px
  z-index: 2
  box-sizing: border-box
  padding: 20px
  overflow: hidden
  .header-title
    float: left
  
//////////////////////////////
// nav
//////////////////////////////
nav
  width: 150px
  float: right
  +sp($pcWidth)
    width: 100%
    // position: fixed
    // top: 0
    // left: 0
  li
    col(1/2,0,0,0)
    +sp($pcWidth)
      col(1,0,0,0)
      text-align: center

//////////////////////////////
// footer
//////////////////////////////
footer
  clear: both
  padding: 15px 30px

//////////////////////////////
// loading
//////////////////////////////
.loading
  position: fixed
  top: 0
  right: 0
  width: 100%
  height: 100%
  overflow: hidden
  background-color: red
  z-index: $loadingZIndex
//////////////////////////////
// component
//////////////////////////////
.container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  

.fullpage-main__section
  box-sizing: border-box
  background-size: cover
  background-position: center center
  