block pageTitleBlock
  - pageTitle = "ページタイトル"

extends ./layout/_layout.jade

block content
  #fullpage.fullpage-main
    for value, index in ['photo','photo','photo']
      - image = './images/image'+(index+1)+'.jpg'
      section.section.fullpage-main__section(style='background-image:url('+image+')')
        h3: = value +(index+1)


block bottomjs 
  script(src="#{path}js/main.js")
