block pageTitleBlock
  - pageTitle = "ページタイトル"

extends ./layout/_layout.jade

block content
  .grid-container
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text
    .grid-item
      .inner
        p.title Grid text

block bottomjs 
  script(src="#{path}js/main.js")
